<ion-header>
  <ion-toolbar [style.--background]="oppositeTheme" [style.--color]="oppositeLetter">
    <ion-title>
      App Music
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="currentTheme" [style.--color]="currentLetter">
  <div class="ion-text-center">
    <ion-text>
      <h1>Albumes</h1>
    </ion-text>
  </div>
  <swiper-container [style.--background]="currentTheme" [style.--color]="currentLetter">
    <swiper-slide *ngFor="let album of albums" pagination="true" loop="true" slides-per-view="1" (click)="loadSongsAlbum(album.id)">
      <div class="slide-content">
        <img [src]="album.image" [alt]="album.name">
        <h4>{{ album.name }}</h4>
      </div>
    </swiper-slide>
  </swiper-container>
  <div class="ion-text-center">
    <ion-text>
      <h1>Artistas</h1>
    </ion-text>
  </div>
  <swiper-container [style.--background]="currentTheme" [style.--color]="currentLetter">
    <swiper-slide *ngFor="let artist of artists" pagination="true" loop="true" slides-per-view="1" (click)="loadSongsArtist(artist.id)">
      <div class="slide-content">
        <img [src]="artist.image" [alt]="artist.name">
        <h4>{{ artist.name }}</h4>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-progress-bar [value]="newTime || 0"></ion-progress-bar>
      <ion-col class="ion-text-start">{{ formatTime(currentSong?.currentTime) || "0:00" }}</ion-col>
      <ion-col class="ion-text-end">{{ formatTime(getRemainingTime()) || "0:00" }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
        <ion-icon [name]="iconFavourite" (click)="selectFavourite(song.id)"></ion-icon>
      </ion-col>
      <ion-col size="10" class="ion-text-center">
        {{ song.name || "----"}}
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" *ngIf="!song.playing" (click)="playSong()"></ion-icon>
        <ion-icon name="pause" *ngIf="song.playing" (click)="pauseSong()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>